body {
    font-family: sans-serif;
    background-color: whitesmoke;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #F25C69;
}

.button {
    background-color: #4C5459;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}

.button:hover {
    background-color: #282d30;
    color: white;
    text-decoration: none;
    padding: 18px;
    font-size: 27px;
    border-radius: 13px;
    display: block;
    transition: 0.5s ease-out;
}

nav {
    border-top: 5px solid #4C5459;
    border-bottom: 5px solid #4C5459;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: #4C5459;
    text-decoration: none;
    display: block;
}

.nav-link:hover {
    font-size: 27px;
    transition: 0.5s ease-out;
    color: #282d30;
}

h1 {
    text-align: center;
    color: #4C5459;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 15px;
}

p {
    font-size: 24px;
    text-align: center;
    color: #4C5459;
}

.info {
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: left;
}

article {
    background-color: white;
    padding: 20px 45px 25px 45px;
    width: 350px;
    margin: 15px 60px 40px 30px;
}

.article-but {
    text-decoration: none;
    background-color: #F27E88;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.article-but:hover {
    font-size: 27px;
    text-align: center;
    padding: 13px 78px 13px 78px;
    display: block;
    transition: 0.5s ease-out;
}

footer {
    background-color: #F25C69;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    color: white;
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #4C5459;
    font-weight: bolder;
}

.sn{
    text-align: center;
    background-color: #707b83;
    height: 150px;
    width:150px;
    position: fixed;
    top: 45%;
    right: 0%;
    padding: 10px;
    border-radius: 10px;
}

.text {
    font-size: 20px;
    color: white;
}

.photo {
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.sn img {
    height: 25px;
    width: 25px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
